@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #020605;
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2em;
    color: #359380;
    pointer-events: none;
    margin-right: 250px;
}

.navigation a {
    text-decoration: none;
    color: #359390;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover, .navigation a.active {
    background: #359390;
    color: #fff;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

#text{
    position: absolute;
    font-size: 5em;
    color: #eee;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, .4);
}

.contents{
    position: relative;
    background: #003328;
    padding: 100px;
}

.contents h2{
    font-size: 3em;
    color: #DDD;
    margin-bottom: 10px;
}

.contents p{
    font-size: 1em;
    color: #EEE;
    font-weight: 300;
}

